/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

/*.header{
    height: 75px;
    background-color: aqua;
    @media screen (min-width: 768px) {
        height: 100px;
    }
    @media screen (min-width: 1280px) {
        height: 110px;
    }
}*/ 