nav{
 display: flex;   
 justify-content: space-between;
}


.logo-pdf{
    width: 30px;
    height: 28px;
    margin: 5px;
    margin-bottom: 0px;
}

.link{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
    margin-bottom: 0px;
    text-decoration: none;
}
