.div1{
    background-color: yellow;
    height: 500px;
    width: 500px;
    position: absolute;
    padding: 40px;
    border: 2px;
    box-sizing: border-box;
}
.div2{
    background-color: green;
    height: 300px;
    width: 300px;
    position: absolute;
    padding: 75px;
    /*box-sizing: border-box; */
}
.div3{
    background-color: cyan;
    height: 150px;
    width: 150px;
    position: absolute;
    border: 20px;
}