h1{
    border: 1px solid black;
    margin: 150px;
}
div{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    display: inline-block ;
}
.gato_100{
    width: 100px;
    height: 100px; 
}
.gatito2{
    width: 200px;
    height: 200px;
}
.contenedor_gatitos{
    width: 100px;
    height: 100px;
    /*padding: 10px;
    border: 5px solid orange;*/
    box-sizing: border-box;
    margin:auto;
    
}